{% extends "base.html" %}
{% block content %}
<br>
<div class="text-right">
    <a href="/category_add">
        <button class="btn-primary btn-lg">Add Category</button>
    </a>
</div>
<h1>Your Categories</h1>
<br>
{% if categories %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
        <th>Category Name</th>
        <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for category in categories %}
        <td>{{ category }}</td>
        <td><a href="/category_edit">edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Categories Added yet</p>
{% endif %}
{% endblock %}
