{% extends "base.html" %}
{% block content %}
    <h1>Recipe Details</h1>
    <div class="text-right"><br><a href="{{ url_for('recipe_edit', recipe_name=recipe_name)}}"><button class="btn-primary btn-lg">Edit Recipe</button></a></div>
    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="static/images/sphagz.jpg" alt="">
        <div class="card-body">
          <h3 class="card-title">{{ recipe_name }}</h3>
          <!-- <p class="card-text text-right">Prepare time - 10 minutes</p> -->
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          <p>How {{ recipe_name }} is prepared</p>
        </div>
        {% for method in prep_method %}
        <div class="card-body">
          <p>{{ method }}</p>
          {% endfor %}
        </div>
      </div>
      <!-- /.card -->
{% endblock %}