{% extends "base.html" %}
{% block content %}
<!-- Page Heading -->
<div>
      <h1 class="my-4">Recipes</h1>
      <div class="text-right"><a href="/recipes_add"><button class="btn-primary btn-lg">Add Recipe</button></a></div>
      <br>
  </div> 
<div class="row">
  {% for recipe in user_recipes %}
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="static/images/food.jpeg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ url_for('recipe_detail', recipe_name=recipe) }}">{{ recipe }}</a>
        </h4>
        <p class="card-text">
          {% for prep_method in user_recipes[recipe] %}
            <p>{{ prep_method }}</p>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- /.row -->
{% endblock %}